body {
    background: rgb(144, 144, 152);
    overflow-x: hidden;
    background-size: cover;
    vertical-align: baseline;
    background-repeat: no-repeat;
    background-position: top;
    margin: auto;
    padding: auto;
    max-width: 800px;
}

#main-header {
    text-align: center;
    list-style-type: none;
    max-width: 800px;
    overflow: hidden;
    background-color: #000;
    padding: 10px;
}

#main-header nav a {
    max-width: 800px;
    color: #d3d3d3;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}

#main-header h1 {
    color: #fff;
    font-size: 35px;
    padding: 5px;
    margin: 5px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 87%;
}

.sticky + #about {
    padding-top: 102px;
}



#about {
    background-color: #fff;
    text-align: center;
    margin: 0;
    padding: 5px;
    overflow: hidden;
}

#about p {
    text-align: left;
    text-indent: 0em;
    margin: 10px;
}

#about h4 {
    text-align: left;
    text-indent: 0em;
    margin: 10px;
}

#about-image {
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#about table {
    width: 100%;
    border: 1px solid black;
}

#about tr, th, td {
    border: 1px solid black;
}



#how-to {
    background-color: aquamarine;
    text-align: center;
    margin: 0;
    padding: 5px;
    overflow: hidden;
}

#how-to p {
    text-align: left;
    text-indent: 1em;
}



#types {
    background-color: seashell;
    text-align: center;
    margin: 0;
    padding: 5px;
    overflow: hidden;
}

#types.mySlides {
    text-align: center;
}