body {
    background: rgb(144, 144, 152);
    overflow-x: hidden;
    background-size: cover;
    background-position: top;
    margin: auto;
    padding: auto;
    max-width: 800px;
    font-family: 'Courier New', Courier, sans-serif;    
}

#main-header {
    text-align: center;
    list-style-type: none;
    max-width: 100%;
    overflow: hidden;
    background-color: #000;
    padding: 10px;
    position: sticky;
    top: 0;
}

#main-header nav a {
    max-width: 100%;
    color: #d3d3d3;
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}

#main-header h1 {
    color: #fff;
    font-size: 35px;
    padding: 5px;
    margin: 5px;
}




#about {
    text-align: center;
    margin: 0px;
    padding: 5px;
    overflow: hidden;
    background-image: url(sushi-2white-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

#about p {
    text-align: left;
    text-indent: 0em;
    margin: 10px;
    font-weight: 500;
}

#about h4 {
    text-align: left;
    text-indent: 0em;
    margin: 10px;
}

#about table {
    width: 100%;
}

#about tr, th, td {
    border: 3px solid black;
}




#how-to {
    background-color: aquamarine;
    text-align: center;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-image: url(sushi-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#how-to p {
    text-align: left;
    text-indent: 1em;
}

#about-image {
    width: 100%;
    
}




#types {
    background-color: seashell;
    text-align: center;
    margin: 0;
    padding: 5px;
    overflow: hidden;
}

#types.mySlides {
    text-align: center;
}